@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Books App .NET</h1>
    <p>A .NET project that integrates with <a href="https://github.com/gcep650/booksapi">BooksAPI</a>.</p>
</div>

